<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header {
            display: flex;
            justify-content: space-around;
            padding: 2rem;
        }
    </style>
</head>
<body>
    <header>
        <img src="" alt="logo-de-la-empresa">
        <nav>
            <a href="/login">Administrador</a>
        </nav>
    </header>
    
    <h1>Bienvenido a la tiendita de pacheco</h1>
    <p>Explora lo que tenemos para ti!</p>
    <a th:href="@{/polos}">Polos</a>
    <a th:href="@{/pantalones}">Pantalones</a>
    <a th:href="@{/vestidos}">Vestidos</a>
</body>
</html>