<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/login">Administrador</a>
    <h1>Bienvenido a la tiendita de pacheco</h1>
    <p>Explota lo que tenemos para ti!</p>
    <a class="nav-link active" aria-current="page" th:href="@{/polos}">Polos</a>
    <a class="nav-link active" aria-current="page" th:href="@{/pantalones}">Pantalones</a>
</body>
</html>